@import "./normalize.css";

@font-face {
    font-family: "RobotoBlack";
    src: local(Arial);
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoLight";
    src: local(Arial);
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoRegular";
    src: local(Arial);
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoThin";
    src: local(Arial);
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "HammersmithOneRegular";
    src: local(Arial);
    src: url("../fonts/HammersmithOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PlayfairDisplayBlack";
    src: local(Arial);
    src: url("../fonts/PlayfairDisplay-Black.ttf") format("truetype");
}

@font-face {
    font-family: "PlayfairDisplayBold";
    src: local(Arial);
    src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PlayfairDisplayRegular";
    src: local(Arial);
    src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

p, h1, h2, h3 {
    margin: 0;
}

body {
    font-family: "RobotoLight";
    font-size: 14px;
    background-color: rgb(245, 101, 101);
    overflow-x: hidden;
}

.container {
    max-width: 980px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
    background-color: rgba(41, 136, 153, .2);
}

h3 {
    font-family: "PlayfairDisplayBold";
    font-size: 22px;
    letter-spacing: 1.2px;
    color: #413d4b;
}


/*header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .container > a {
    margin-right: 20px;
}

header .menu-mob {
    display: none;
}

header .menu-dekstop {
    max-width: 530px;
    width: 100%;
}

.menu-dekstop ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.menu-dekstop a {
    font-family: "RobotoBlack";
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-dekstop a:hover {
    color: #00e0d0;
}

/*mobile menu*/

@media all and (max-width: 768px) {

    .menu-dekstop {
        display: none;
    }

    header .container > a {
        position: fixed;
        right: 20px;
        margin-right: 0;
    }

    header .menu-mob {
        display: block;
    }

    #btn-mob-menu {
        opacity: 0;
    }
    
    .menu-btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 25px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
    }
    
    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
    
    .menu-btn > span::before {
        content: "";
        top: -8px;
    }
    
    .menu-btn > span::after {
        content: "";
        top: 8px;
    }

    .menu-box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgb(16, 74, 111);
        margin: 0;
        padding: 80px 0;
    }

    #btn-mob-menu:checked ~ .menu-box {
        visibility: visible;
    }

    .menu-item {
        font-family: "RobotoBlack";
        font-size: 13px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        padding: 12px 24px;
    }

    .menu-item:hover {
        color: #00e0d0;
        background-color: rgb(24, 60, 82);
    }

    #btn-mob-menu:checked ~ .menu-btn > span {
        transform: rotate(45deg);
    }

    #btn-mob-menu:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #btn-mob-menu:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #btn-mob-menu:checked ~ header {
        height: 100%;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after,
    .menu-box,
    .menu-item {
        transition-duration: .5s;
    }
}

/*promo*/

.promo {
    background-image: url("../img/background-promo.jpeg");
}

.promo .container {
    padding: 221px 0 177px 0;
}

.promo h1, .promo h2 {
    font-family: "PlayfairDisplayBlack";
    font-size: 32px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    margin-bottom: 21px;
}

.separator {
    width: 50px;
    border: 1px solid #2ab6b1;
    margin: 0 auto;
}

.promo p:first-of-type {
    margin-bottom: 24px;
}

.promo p:last-of-type {
    font-family: "RobotoLight";
    color: #fff;
    line-height: 1.75;
    text-align: center;
    letter-spacing: 0.7px;
    padding: 0 100px;
    margin-bottom: 47px;
}

.promo a {
    font-family: "HammersmithOneRegular";
    font-size: 16px;
    color: #00e0d0;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 38px;
    border: 1px solid #2ab6b1;
    background: transparent;
    margin: 0 auto;
}

/*slider-promo*/

.slide-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slick-dots {
    bottom: -135px;
}

.slick-dots li {
    width: 8px;
    height: 8px;
    margin: 0;
    margin-right: 7px;
}

.slick-dots li button {
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 0;
}

.slick-dots li button:before {
    content: " ";
    width: 8px;
    height: 8px;
    padding: 0px;

}

.slick-dots li.slick-active button {
    border: 1px solid #00e0d0;
    background-color: #00e0d0;
}

@media all and (max-width: 870px) {
    .promo p:last-of-type {
        padding: 0 50px;
    }

}

@media all and (max-width: 768px) {
    .promo p:last-of-type {
        padding: 0 20px;
    }
    
}

/*story*/

.story {
    background-color: #fff;
    max-height: 402px;
    height: 100%;

}

.story .container {
    padding: 65px 0 49px 0;
}

.story img {
    float: left;
    margin: 5px 0 0 84px;
}

.story h3 {
    text-transform: uppercase;
    margin: 0 0 19px 419px;
}

.story p {
    color: #413d4b;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0.45px;
    margin: 0 0 21px 419px;
}

.story a {
    margin-left: 398px;
}

.story p:last-of-type {
    clear: both;
}

.story a {
    font-family: "HammersmithOneRegular";
    font-size: 16px;
    color: #00e0d0;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 38px;
    border: 1px solid #2ab6b1;
    background: transparent;
    margin-top: 27px;
}












